body {
	background-color: #dadada;
}

.header {
  	overflow: hidden;
	display: flex;
	align-items:center;
	justify-content: center;
	
	background-color: #45cbf8;
	border: 5px solid black;
	padding: 10px 10px;
}

.header .box {
	display: flex;
	align-items:center;
	justify-content:center;
	
	width: 180px;
	height: 80px;
  	border: 4px solid white;
  	border-radius: 50px;
}

.header a{
	text-decoration: none;
	color: white;
}

.header .box:hover {
  background-color: #99e2fb;
  color: black;
}

.header h1{
	color: white;
	text-size: 26px;
}

.body {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	
	margin-top:50px;
}

.body .box {
	width: 50%;
	height: 500px;
	padding: 30px;
}